@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine;

<h4>Machine Details</h4>

<h3>@Html.DisplayFor(model => model.Name)</h3>
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>

@if(@Model.JoinEntities.Count == 0)
{
  <p>There are no engineers licensed to repair this machine yet</p>
}
else
{
  <h4>Engineers that are licensed to repair:</h4>
  <ul>
  @foreach(EngineerMachine join in Model.JoinEntities)
  {
    <li>@join.Engineer.Name</li>
    @using (Html.BeginForm("DeleteJoin", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Remove">
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add licensed engineer", "AddEngineer", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Edit machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to machine list", "Index")</p>