@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Edit machine</h4>

<h3>@Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  
  @Html.LabelFor(model => model.Name);
  @Html.EditorFor(model => model.Name);
  <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger fw-bold" })</p>

  @Html.LabelFor(model => model.DangerLevel, "Danger level");
  @Html.EditorFor(model => model.DangerLevel);
  <p>@Html.ValidationMessageFor(model => model.DangerLevel, "", new { @class = "text-danger fw-bold" })</p>

  <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to machine list", "Index")</p>