@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new engineer</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name);
  @Html.TextBoxFor(model => model.Name);
  <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger fw-bold" })</p>

  @Html.LabelFor(model => model.Attitude);
  @Html.TextBoxFor(model => model.Attitude);
  <p>@Html.ValidationMessageFor(model => model.Attitude, "", new { @class = "text-danger fw-bold" })</p>

  @Html.LabelFor(model => model.YearsWorked, "Years of experience");
  @Html.TextBoxFor(model => model.YearsWorked, new { @type = "number" });
  <p>@Html.ValidationMessageFor(model => model.YearsWorked, "", new { @class = "text-danger fw-bold" })</p>
  
  <input type="submit" value="Add new engineer">
}

<p>@Html.ActionLink("Back to engineer list", "Index")</p>