@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Edit Engineer</h4>

<h3>@Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId);

  @Html.LabelFor(model => model.Name);
  @Html.EditorFor(model => model.Name);
  <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger fw-bold" })</p>

  @Html.LabelFor(model => model.Attitude);
  @Html.EditorFor(model => model.Attitude);
  <p>@Html.ValidationMessageFor(model => model.Attitude, "", new { @class = "text-danger fw-bold" })</p>

  @Html.LabelFor(model => model.YearsWorked, "Years of experience");
  @Html.EditorFor(model => model.YearsWorked, new { @type = "number" });
  <p>@Html.ValidationMessageFor(model => model.YearsWorked, "", new { @class = "text-danger fw-bold" })</p>

  <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to engineer list", "Index")</p>