@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Factory</h1>

<h4>Engineers</h4>
@if (ViewBag.Engineers.Count == 0)
{
  <p>No items have been added yet!</p>
} 
<ul>
  @foreach (Engineer engineer in ViewBag.Engineers)
  {
    <li>@Html.ActionLink(engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId })</li>
  }
</ul>

<h4>Machines</h4>
@if (ViewBag.Machines.Count == 0)
{
  <p>No items have been added yet!</p>
} 
<ul>
  @foreach (Machine machine in ViewBag.Machines)
  {
    <li>@Html.ActionLink(machine.Name, "Details", "Machines", new { id = machine.MachineId })</li>
  }
</ul>

<p>@Html.ActionLink("Manage engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Manage machines", "Index", "Machines")</p>